<ul class="breadcrumb">
  <li><a href="#/">Home</a> <span class="divider">></span></li>
  <li class="active">Create Group Meal</li>
</ul>

<!-- Info Fields -->
<div class="row-fluid">  
  <h1>Create a Group Meal</h1>

  <label for="name">Name:</label>
  <input type="text" id="name" ng-model="name" />

  <label for="date">Date:</label>
  <input type="text" datepicker id="date" ng-model="date" />

  <label for="where">Where:</label>
  <input type="text" id="where" ng-model="where" />
</div>
<!-- End Info Fields -->

<!-- Meal Items -->
<div class="row-fluid">
  <h3>Items</h3>
  <ul class="unstyled">
    <li ng-repeat="item in mealItems">{{item.name}} - {{item.who_name}} - {{item.who_email}}</li>
  </ul>
  <a onclick="preventDefault()" ng-click="addMealItem()">+ Add Item</a>
</div>
<!-- End Meal Items -->

<div class="btn-toolbar">
  <a onclick="preventDefault()" ng-click="save()" class="btn btn-success btn-large">Save Group Meal</a>
</div>