extends layout

block content
  div(ng-view)

  .footer.centered
    p.muted This service is provided for free by <a href="https://github.com/danielberkompas" target="_blank">Daniel Berkompas</a>.
    p &copy; 2013 Daniel Berkompas