doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      var require = {
        paths: {
          "angular":          "/javascripts/lib/angular.min",
          "angular-resource": "/javascripts/lib/angular-resource",
          "lodash":           "/javascripts/lib/lodash.min",
          "bootstrap":        "/javascripts/lib/bootstrap.min",
          "bootbox":          "/javascripts/lib/bootbox.min",
          "jquery":           "http://code.jquery.com/jquery-1.9.1.min",
          "jquery-ui":        "http://code.jquery.com/ui/1.10.1/jquery-ui.min"
        },
        shim: {
          "jquery-ui": {
            deps: ["jquery"]
          },
          "angular-resource": {
            deps: ["angular"]
          },
          "bootstrap": {
            deps: ["jquery"]
          },
          "bootbox": {
            deps: ["bootstrap"]
          }
        }
      }
    script(data-main="/javascripts/app", src="javascripts/lib/require.js")
  body
    .container-fluid
      block content