<ul class="breadcrumb">
  <li><a class="pointer" ng-click="cancel('home')">Home</a> <span class="divider">&gt;</span></li>
  <li class="active">{{headerTitle()}}</li>
</ul>

<!-- Info Fields -->
<h1>{{headerTitle()}}</h1>
<div class="row-fluid">  

  <div class="span4">  
    <label for="name">Name Your Meal:</label>
    <input type="text" id="name" class="span12 input-large" ng-model="meal.name" placeholder="e.g. 'Amy's Baby Shower'" />
  </div>

  <div class="span4">  
    <label for="date">When is it happening?</label>
    <input type="text" datepicker id="date" class="span12 input-large" ng-model="meal.date" placeholder="Click to add a date" />
  </div>

  <div class="span4">  
    <label for="where">Where:</label>
    <input type="text" id="where" class="span12 input-large" ng-model="meal.location" placeholder="Put the location here" />
  </div>
</div>
<!-- End Info Fields -->

<!-- Meal Items -->
<div class="row-fluid">
  <h3>Items</h3>
  <p>What food do you need everyone to bring?</p>
  <form ng-submit="addMealItem()">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="span1">Quantity</th>
          <th class="span7">Item</th>
          <th>Assigned To</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
            <td><input type="number" class="span12" ng-model="newItemQuantity" /></td>
            <td><input type="text" class="span12" ng-model="newItemName" placeholder="Name of food item here" /><p class="centered muted">Press enter to add item</p></td>
            <td>
              <input type="text" class="span12" ng-model="newItemAssigned" placeholder="Leave blank to let anyone claim" />
              <input type="submit" class="btn" style="visibility:hidden;" value="Add" />
            </td>
            <td><input type="submit" id="addBtn" class="btn btn-cupid-green" value="Add" /></td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="items" ng-repeat="item in meal.mealItems | orderBy:'name'">   
          <td><span class="centered">{{item.quantity}}</span></td>
          <td>{{item.name}}</td>
          <td>{{item.assigned || "No One"}}</td>
          <td>
            <span class="pull-right">
              <a class="text-error pointer" ng-click="removeMealItem(item)">X Remove</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<!-- End Meal Items -->

<!-- Save Group Meal -->
<div class="btn-toolbar">
  <a ng-click="cancel()" class="btn btn-large btn-plum">Cancel</a>
  <a id="saveBtn" ng-click="save()" class="btn btn-cupid-green btn-large">{{buttonText()}}</a>
</div>