<ul class="breadcrumb">
  <li><a ng-click="cancel()">Home</a> <span class="divider">></span></li>
  <li class="active">Create Group Meal</li>
</ul>

<!-- Info Fields -->
<h1>Create a Group Meal</h1>
<div class="row-fluid">  

  <div class="span4">  
    <label for="name">Name Your Meal:</label>
    <input type="text" id="name" class="span12 input-large" ng-model="name" placeholder="e.g. 'Amy's Baby Shower'" />
  </div>

  <div class="span4">  
    <label for="date">When is it happening?</label>
    <input type="text" datepicker id="date" class="span12 input-large" ng-model="date" placeholder="Click to add a date" />
  </div>

  <div class="span4">  
    <label for="where">Where:</label>
    <input type="text" id="where" class="span12 input-large" ng-model="location" placeholder="Put the location here" />
  </div>
</div>
<!-- End Info Fields -->

<!-- Meal Items -->
<div class="row-fluid">
  <h3>Items</h3>
  <p>What food do you need everyone to bring?</p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span1">Quantity</th>
        <th>Item</th>
        <th>Assigned To</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <form ng-submit="addMealItem()">
          <td><input type="number" class="span12" ng-model="newItemQuantity" /></td>
          <td><input type="text" class="span12" ng-model="newItemName" placeholder="Name of food item here" /><p class="centered muted">Press enter to add item</p></td>
          <td>
            <input type="text" class="span12" ng-model="newItemAssigned" placeholder="Leave blank to let anyone claim" />
            <input type="submit" class="btn" style="visibility:hidden;" value="Add" />
          </td>
        </form>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="item in mealItems">   
        <td><span class="centered">{{item.quantity}}</span></td>
        <td>{{item.name}}</td>
        <td>
          {{item.assigned || "No One"}}
          <span class="pull-right">
            <a class="text-error" ng-click="removeMealItem(item)">X Remove</a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- End Meal Items -->

<!-- Email Addresses to Notify -->
<h3>Invite People</h3>
<div class="row-fluid">
  <p>Get the word out about the meal!  Add the emails of the people you want be notified below.</p>
</div>
<h5 ng-show="emails.length > 0">Invited People</h5>
<ul class="unstyled">
  <li ng-repeat="email in emails">{{email}} <a class="text-error" ng-click="removeEmail(email)">x</a></li>
</ul>
<form ng-submit="addEmail()">
  <input type="email" ng-model="newEmail" class="span5" placeholder="Write email address here, press enter to add" />
  <input type="submit" value="Add" style="visibility:hidden;">
</form>
<!-- End Email Addresses to Notify -->

<!-- Save Group Meal -->
<div class="btn-toolbar">
  <a ng-click="save()" class="btn btn-success btn-large">Create Meal &amp; Send Emails</a>
  <a ng-click="cancel()" class="btn btn-large">Cancel</a>
</div>