<div ng-show="mealIsPresent()">  
  <ul class="breadcrumb">
    <li><a href="/#/">Home</a> <span class="divider">&gt;</span></li>
    <li class="active">{{meal.name}}</li>
  </ul>

  <div class="row-fluid">
    <h1>
      {{meal.name}}
      <small class="pull-right text-small margin-top-small">      
        <a href="#/meals/{{meal._id}}/edit" ng-show="isOwner()">Edit This Meal</a>
      </small>
    </h1>
    <h3 class="muted">{{meal.location}}, {{meal.date}}</h3>
  </div>

  <!-- Meal Items -->
  <div class="row-fluid">
    <div class="alert" ng-show="isOwner()">
      Copy the link in your browser URL bar and send it meal to everyone who is invited.  Only people with the link can see the meal.
    </div>

    <h3>Items</h3>
    <div class="alert alert-warning" ng-show="!isOwner()">
      The following items need to be brought.  Click on "I'm bringing this" to tell the organizer it is being brought.
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span2">Quantity</th>
          <th class="span5">Item</th>
          <th>Who is bringing it?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in meal.mealItems | orderBy:'name' ">   
          <td>
            <h4 ng-class="{'text-success': isFilledUp(item)}">{{totalQuantity(item)}} <small class="muted text-normal">out of</small> {{item.quantity}}</h4>
          </td>
          <td>
            <h4 ng-class="{'text-success': isFilledUp(item)}">
              {{item.name}}<br />
              <small ng-show="isFilledUp(item)">Enough of this item is being brought!</small>
            </h4>
          </td>
          <td>
            <h4 class="pull-left text-normal" ng-show="totalQuantity(item) == 0 || item.assigned">{{item.assigned || "No One"}}</h4>
            <a ng-show="!item.assigned && !isFilledUp(item)" ng-click="startBringing(item)" class="btn btn-cupid-green pull-right">I'm Bringing This</a>
            <ul class="unstyled" ng-repeat="bringer in item.bringers">
              <li><strong>{{bringer.name}}</strong> is bringing <strong>{{bringer.quantity}}</strong> <a class="text-error pointer" ng-show="bringer.name == userName" ng-click="removeBringer(item, bringer)">x</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Meal Items -->

  <!-- Bring Item Modal -->
  <div id="bringItemModal" class="modal hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Bring Item</h3>
    </div>
    <div class="modal-body">
      <h4>You are signing up to bring "{{currentItem.name}}".</h4>
      <div class="alert alert-info" ng-show="isFilledUp(currentItem)">
        Enough of this item is already being brought!  Someone signed up while you were waiting.
      </div>
      
      <div ng-show="!isFilledUp(currentItem)" class="row-fluid">
        <div class="span6">      
          <label for="currentQuantity">How many are you bringing?</label>
          <input type="number" id="currentQuantity" ng-model="bringingQuantity" />
          <p class="help-text muted">Out of <strong>{{remainingQuantity(currentItem)}}</strong> remaining.</p>
        </div> 

        <div class="span6">      
          <label for="userName">What is your name?</label>
          <input type="text" id="userName" ng-model="userName" />
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-plum" ng-click="cancelBringing()">Cancel</a>
      <a class="btn btn-cupid-green" ng-show="!isFilledUp(currentItem)" ng-click="bringCurrentItem()"><i class="icon-ok icon-white"></i> Bring This Item</a>
    </div>
  </div>
  <!-- End Bring Item Modal -->
</div>