<h1>{{meal.name}}</h1>
<h4 class="subtitle muted">{{meal.location}}, {{meal.date}}</h4>

<!-- Meal Items -->
<div class="row-fluid">
  <h3>Items</h3>
  <div class="alert alert-info">
    The following items need to be brought.  Click on "I'm bringing this" to tell the organizer it is being brought.
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="span2">Quantity</th>
        <th class="span5">Item</th>
        <th>Assigned To</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in meal.mealItems">   
        <td>
          <h4 ng-class="{'text-success': isFilledUp(item)}">{{totalQuantity(item)}} / {{item.quantity}}</h4>
        </td>
        <td>
          <h4 ng-class="{'text-success': isFilledUp(item)}">
            {{item.name}}<br />
            <small ng-show="isFilledUp(item)">Enough of this is being brought!</small>
          </h4>
        </td>
        <td>
          <span ng-show="totalQuantity(item) == 0">{{item.assigned || "No One"}}</span>
          <a ng-show="!item.assigned && !isFilledUp(item)" ng-click="startBringing(item)" class="btn btn-info pull-right">I'm Bringing This</a>
          <ul class="unstyled" ng-repeat="bringer in item.bringers">
            <li>{{bringer.name}} - {{bringer.quantity}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- End Meal Items -->

<!-- Bring Item Modal -->
<div id="bringItemModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Bring Item</h3>
  </div>
  <div class="modal-body">
    <h4>You are signing up to bring "{{currentItem.name}}".</h4>
    
    <label for="currentQuantity">How many are you bringing?</label>
    <input type="number" id="currentQuantity" ng-model="bringingQuantity" />
    <p class="help-text">Out of <strong>{{remainingQuantity(currentItem)}}</strong> remaining.</p>

    <label for="userName">What is your name?</label>
    <input type="text" id="userName" ng-model="userName" />
  </div>
  <div class="modal-footer">
    <a class="btn" ng-click="cancelBringing()">Cancel</a>
    <a class="btn btn-primary" ng-click="bringCurrentItem()">Bring This Item</a>
  </div>
</div>
<!-- End Bring Item Modal -->