body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

/* Bootstrap Additions */
input.input-large {
  height: 40px;
  font-size: 18px;
}
/* End Bootstrap Additions */