body {
  background-image: url("/images/body-bg.png");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.pointer:hover {
  cursor: pointer;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.margin-top-small {
  margin-top: 15px;
}

.margin-bottom-small {
  margin-bottom: 15px;
}

/* Bootstrap Additions */
input.input-large {
  height: 40px;
  font-size: 18px;
}
.text-normal {
  font-weight: normal;
}
.text-success {
  color: #7aba48 !important;
}
.btn-huge {
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  line-height: 130%;
}
/* End Bootstrap Additions */